[submodule "external/eigen"]
	path = external/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "external/polyscope"]
	path = external/polyscope
	url = https://github.com/nmwsharp/polyscope.git
[submodule "external/tinyobjloader"]
	path = external/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader.git
[submodule "external/TinyAD"]
	path = external/TinyAD
	url = https://github.com/patr-schm/TinyAD.git
[submodule "external/MshIO"]
	path = external/MshIO
	url = https://github.com/qnzhou/MshIO.git
[submodule "external/oneTBB"]
	path = external/oneTBB
	url = https://github.com/oneapi-src/oneTBB.git
